* {
    box-sizing: border-box;
  }
   
  body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: black;
    color: white;
    line-height: 1.5;
  }
  
  h1 {
    color: #2EFE64;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: #2EFE64;
  }

  a:hover {
    color: #FF8000;
  }

  a:link {
    color: white;
  }

 .top-nav{
    display: block;
    padding: 20px;
   }

   ul{
     list-style: none;
   }
  section, .contact-info{
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex-grow: 1;
     flex-shrink: 1;
     min-height: 150px;
     padding: 25px;
  }

.basic-number{
  color: #FF8000;
}

 
  .project {
      padding: 25px;
      min-height: 200px;
  }

  .project-image {
    flex-grow: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
  }


  .project-detail {
    flex-grow: 2;
  }
  
  

  
  
  /*section:nth-child(even){
    background-color: #ddd;
  }

  .project:nth-child(odd) {
    background-color: grey;
  }*/

  @media screen and (min-width: 720px){
    .project-info{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;

    }
    .project-image {
      width: 25%;
    }
   
    .contact-detail, .about-me {
      margin-left: 25px;
   }
  
  }


  @media screen and (max-width: 720px){
    .project-image {
      width: 50%;
    }

  }

 
  
  
  
  